@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #0081C9;
}
.container-offside {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}
.container-inside{ 
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
#make-num {
    width: 60vw;
    height: 30vh;
    font-size: clamp(10px, 20px, 40px);
    cursor: pointer;
}
.style-button {
    border: none;
    border-radius: 5px;
    color: black;
    background-color:#86E5FF;
    font-weight: bold;
    font-family: 'Prosto One', cursive;
}
#make-num:hover{
    background-color: #dfe207;
}
h1 {
    font-family: 'Prosto One', cursive;
    font-size: 50px;
    margin-bottom: 20px;
}
#num {
    border:none;
    width: 200px;
    height: 50px;
    font-size: 30px; 
    outline:none;
    text-align: center;
    border-radius: 5px;
    background-color: #FFC93C;
}
.message {
    font-family: 'Prosto One', cursive;
    margin: 20px;
    font-size: 30px;
}
.button-second-window {
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}
.button-second-window:hover {
    background-color: #FFC93C;
}